{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1 class="w-100 text-center" >{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="w-50 content-center m-auto" >
        <p>パスワードリセット時に利用するメールアドレスを入力してください。</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="col w-50 btn btn-outline-dark w-auto" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p>{% blocktrans %}パスワードの再設定がうまくいかない場合は、弊社までご連絡ください。{% endblocktrans %}</p>
    </div>
{% endblock %}