{% extends "base.html"%}
{% block content %}
<h1 class="w-100 text-center" >日記の記録</h1>
<br>
<div class="w-50 content-center m-auto" >
    {% for diary in diary_list %}
    <div class="row border">
        <p class="col-4 ">タイトル：{{ diary.title }}</p>
        <p class="col-4 " >作成日：{{ diary.created_at }}</p>
        <a class="col-2 w-20 btn btn-outline-dark" href="{% url 'diary:diary_detail' diary.pk %}" >詳細</a>
        <a class="col-2 w-20 btn btn-outline-dark" href="{% url 'diary:diary_delete' diary.pk %}" >削除</a>
    </div>
    <br>
    {% endfor %}
    <div class="row">
    <a class="col w-auto btn btn-outline-dark" href="{% url 'diary:index' %}">トップへ戻る</a><br>
    <a class="col w-auto btn btn-outline-dark offset-2 " href="{% url 'diary:diary_create' %}" >作成</a><br>
    </div>
</div>

{% endblock %}
